@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*-----Shared Styles----*/

/* For Flex Dispaly */
.display_flex{
    display: flex;
}

/* Primary or Highlihgt Colour */
.text_primary{
    color: #FF900E;
}

/* Gray Color text */
.text_gray{
    color: #424242;
}

/* Background Light Color */
.bg_light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* Light Gray Color Text */
.text_light_gray{
    color: #727272;
}

/* Button Primary Design */
.btn_primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

main>section{
    margin-top: 130px;
}

.section_title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* Header Styles */


/*-----Navbar Related Styles------*/
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav_item{
    list-style: none;
    margin-right: 30px;
}

.nav_link{
    text-decoration: none;
    font-weight: 500;
}

.navbar ,
.banner{
    max-width: 1140px;
    margin: 0 auto;
}


/*-----Banner Related Styles------*/
.banner{
    padding-bottom: 30px;
}

.banner_content{
    max-width:850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner_title{
    font-weight: 700;
    font-size: 4rem;
}

.banner_description{
    margin-bottom: 30px;
}

.banner img{
    width: 100%;
}

.teams{
    align-items: center;
}

.team_image_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our_features{
    margin-left: 70px;
    max-width: 530px;
}


#quick_list{
    font-weight: 500;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar ,
    .nav_links,
    .teams{
        flex-direction: column;
    }

    .team_image_container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our_features{
        margin: 20px;
        text-align: center;
    }
}

/* Medium Sixe Device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .our_features{
        margin:20px auto;
    }
}