@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/*-----Shared Styles----*/

/* For Flex Dispaly */
.display_flex {
  display: flex;
}

/* Primary or Highlihgt Colour */
.text_primary {
  color: #ff900e;
}

/* Gray Color text */
.text_gray {
  color: #424242;
}

/* Background Light Color */
.bg_light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* Light Gray Color Text */
.text_light_gray {
  color: #727272;
}

/* Button Primary Design */
.btn_primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

.section_title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* Header Styles */

/*-----Navbar Related Styles------*/
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: 700;
  font-size: 3rem;
}

.nav_item {
  list-style: none;
  margin-right: 30px;
}

.nav_link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}

/*-----Banner Related Styles------*/
.banner {
  padding-bottom: 30px;
}

.banner_content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner_title {
  font-weight: 700;
  font-size: 4rem;
}

.banner_description {
  margin-bottom: 30px;
}

.banner img {
  width: 100%;
}

.teams {
  align-items: center;
}

.team_image_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.our_features {
  margin-left: 70px;
  max-width: 530px;
}

#quick_list {
  font-weight: 500;
}

/* Feature Will Enjoy Styles */
.features{
    gap: 140px;
}

#feature_section_border{
    border-left:5px solid #FF900E;
    padding-left: 20px;
}

.feature_card{
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.feature_card .feature_title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience_badge{
    padding: 45px 42px;
    font-size: 1.2rem;
    font-weight:500 ;
    margin-left: -100px;
    margin-top: -120px;
}

#experience_year{
    font-size: 4rem;
    font-weight: 700;
}

/* Some Fact Related Styles */
.some_fact_title {
  margin-bottom: 24px;
}

.fact_description {
  max-width: 540px;
  margin-bottom: 100px;
}

.fact_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact_card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fact_number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact_name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

/* Sponsor Related Styles */
.sponsor_info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor_companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor_companies img{
    /* Image  Colouring */
    filter: grayscale(100%);
    /* filter: opacity(20%); */
}

footer{
    max-width: 1140px;
    margin: 50px auto;
}

.footer_text{
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/* Responsive Media Query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav_links,
  .teams ,
  .features{
    flex-direction: column;
  }

  .team_image_container,
  .fact_container,
  .sponsor_companies {
    grid-template-columns: repeat(1, 1fr);
  }

  .fact_container,
  .sponsor_companies {
    justify-items: center;
    gap: 24px;
  }

  .some_fact_title,
  .fact_description {
    margin: 20px;
    text-align: center;
  }

  .our_features {
    margin: 20px;
    text-align: center;
  }

  .featured_architect img{
    max-width: 100%;
  }

  #experience_badge{
    margin-top: 20px;
    margin-left: 20px;
  }

  footer{
    max-width: 100%;
  }

  .footer_text{
    padding: 10px;
  }

  .footer_text p{
    font-size: 10px;
  }
}

/* Medium Size Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams, .features {
    flex-direction: column;
  }

  .our_features {
    margin: 20px auto;
  }

  .sponsor_companies, 
  .fact_container{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }

  #experience_badge{
    margin-top: 20px;
    margin-left: 20px;
  }
}
